*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    
    color: #fff;
    overflow: hidden;
}
body{
    background-color: #000;
}

.main{
    display: flex;
    height: 100vh;
}

.sidebar{
    background-color: black;
    width: 340px;
    border-radius: 1rem;
}

.main-content{
    background-color: #121212;
    flex: 1;
    overflow: auto;
    border-radius: 1rem;
    margin-top: 0.5rem;

}
.music-player{
    background-color: #000;
    bottom: 0;
    position: fixed;
    height: 72px;
    width: 100%;

}


a{
    text-decoration: none;
    color: #fff;
}

 .nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
    margin-top: .5rem;
    margin-right: .5rem;
    margin-left: .5rem;
    
 }

.nav-option{
    line-height: 2.5rem;
    opacity: 0.7;
    display: flex;
    align-items: center; 
    padding: 0.5rem 0.75rem;
    
}
.nav-option:hover {
    opacity: 1;
    
}

.nav-option i{
    font-size: 1.25rem;
}
.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}

.library{
    background-color: #121212;
    border-radius: 1rem;
    padding: 0.5rem 0.75rem;
    margin-top: .5rem;
    margin-right: .5rem;
    margin-left: .5rem;
    height: 100%;
}
.lib-option img{
    height: 1.25rem;
    width: 1.25rem;
}
.options{
    display: flex;
    justify-content: space-between;

}

.icons i{
    margin-right: 1rem;
}

.box{
    background-color: #232323;
    border-radius: .5rem;
    padding: 0.75rem 0.5rem;
    margin-top: .5rem;

}

.box p{
    padding: 0.5rem 0.75rem;
}

.box-p1{
    font-size: .9rem;
    font-weight: 600;
}

.box-p2{
    font-size: .8rem;
    opacity: .8;
    font-weight: 500;
    margin-bottom: 1rem;
    
}

.badge{
    background-color: #fff;
    color: #000;
    border: 0;
    font-weight: 600;
    border-radius: 1rem;
    padding: 0.25rem 0.75rem;
    margin: 0rem .75rem 0.2rem 0.75rem;
    height: 2rem;

    width: fit-content;
    
}

.dark{
    background-color:#000000;
    color: #fff;
    align-items: center;
    width: fit-content;
    
    padding: 0.5rem 0.75rem;

}

.sticky-nav {
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1rem;
    z-index: 10;
}

.sticky-nav-icons img{
    
    padding: 1rem .5rem;
}

.sticky-nav-options{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sticky-nav-options i{
     
     margin-right: 2rem;
}

@media (max-width: 1000px)
{
    .hide{
        display: none;
    }
}

.cards{
    padding: 1rem 2rem;
}

.card{
    background-color: #232323;
    border-radius: .5rem;
    width: 12rem;
    padding: 1rem .75rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: .5rem;
    
}

.card-img{
    width: 100%;
    border-radius: .5rem;
    height: 12rem;
    width: 12rem;
    
}

.card-title{
    padding: 1rem 0rem .5rem 0rem;
    font-weight: 600;
    font-size: .9rem;
}

.discrep{
    opacity: .7;
    padding: .25rem 0rem;
    font-weight: 500;
    font-size: .7rem;
    line-height: 1.1rem;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
}

.footer-line{
   
    height: 300px;

    display: flex;
    align-items: center;
    justify-content: center;

}
.line{
    border-top: 1px solid #ffffff;
    opacity: .3;
    width: 95%;
    height: 70%;
    
}
